<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>GIFRR</title>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v3.2"></script>
</head>

<body>
    <div id="app">
        <navbar-gifrr @to-homepage="toHomepage" @filter-gif="filterGif" @show-form="showUploadForm">
        </navbar-gifrr>
        <homepage v-if="allGifs" v-bind:allgifsdata="gifsData" ></homepage>
        <create-gif-form @to-homepage="getAllGifs" v-if="uploadGif"></create-gif-form>
        <filter-result v-bind:datafilter="dataFilter" v-if="filterGifs"></filter-result>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
    <script src="https://unpkg.com/@johmun/vue-tags-input/dist/vue-tags-input.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    
    <!-- components -->
    <script src="./assets/components/filter-result.js"></script>
    <script src="./assets/components/card-image.js"></script>
    <script src="./assets/components/homepage.js"></script>
    <script src="./assets/components/navbar.js"></script>
    <script src="./assets/components/gif-form.js"></script>
    <!-- components -->

    <script src="./assets/main.js"></script>
</body>

</html>