#navbar {
    background-color: #f7f5df;
    color: #8c6a3f;
    padding: 20px;
    /* position: fixed; */
    z-index: 5;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellow;
    font-weight: bold;
}

.search-bar,
.upload {
    margin-top: 10px;
}

.logo {
    font-family: 'Baloo Chettan', cursive;
    font-size: 40px;
}

.card {
    display: flex;
    position: relative;
    top: 100px;
}